DATABASE_URL=postgresql://postgres:YOUR_PASSWORD_HERE@db.eoviojlyabdvtldlpkoj.supabase.co:5432/postgres
SUPABASE_URL=https://eoviojlyabdvtldlpkoj.supabase.co
SUPABASE_KEY=sb_publishable_bCPuK9r7TFdTliztuBDLCA_rC4h0MwS
