DATABASE_URL=postgresql://postgres:YOUR_PASSWORD_HERE@db.jjovirnswldbnfokyyuk.supabase.co:5432/postgres
SUPABASE_URL=https://jjovirnswldbnfokyyuk.supabase.co
SUPABASE_KEY=sb_publishable_IahH9_DCKTejHO3B8RREyg_MeKgkwmw
